---
import { Icon } from 'astro-icon/components';
import Button from '~/components/ui/Button.astro';
import Headline from '~/components/ui/Headline.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import Image from '~/components/common/Image.astro';
import type { Features as Props } from '~/types';

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline = await Astro.slots.render('tagline'),
  image,
  items = [],
  columns,
  defaultIcon,
  isBeforeContent,
  isAfterContent,

  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;

const columnsClass =
  columns === 4
    ? 'lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2'
    : columns === 3
      ? 'lg:grid-cols-3 sm:grid-cols-2'
      : columns === 2
        ? 'sm:grid-cols-2'
        : '';
---

<WidgetWrapper
  id={id}
  isDark={isDark}
  containerClass={`${isBeforeContent ? 'md:pb-8 lg:pb-12' : ''} ${isAfterContent ? 'pt-0 md:pt-0 lg:pt-0' : ''} ${
    classes?.container ?? ''
  }`}
  bg={bg}
>
  <Headline title={title} subtitle={subtitle} tagline={tagline} classes={classes?.headline as Record<string, string>} />

  <div aria-hidden="true" class="aspect-w-16 aspect-h-7">
    {
      image && (
        <div class="w-full h-80 object-cover rounded-xl mx-auto bg-gray-500 shadow-lg">
          {typeof image === 'string' ? (
            <Fragment set:html={image} />
          ) : (
            <Image
              class="w-full h-80 object-cover rounded-xl mx-auto bg-gray-500 shadow-lg"
              width={768}
              height={320}
              widths={[400, 768]}
              layout="fullWidth"
              format="webp"
              {...image}
            />
          )}
        </div>
      )
    }
  </div>

  {
    items.length > 0 && (
      <div class:list={['grid mx-auto gap-8 md:gap-y-12 mt-12', columnsClass]}>
        {items.map(({ title: itemTitle, description, icon, callToAction }) => (
          <div class="intersect-once motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade">
            <div class="flex flex-row max-w-full sm:max-w-md">
              {(icon || defaultIcon) && (
                <div class="flex justify-center">
                  <Icon
                    name={icon || defaultIcon}
                    class="flex-shrink-0 mt-1 mr-2 rtl:mr-0 rtl:ml-2 w-6 h-6 text-primary"
                  />
                </div>
              )}
              <div class="mt-0.5">
                {itemTitle && <h3 class="text-lg font-semibold">{itemTitle}</h3>}
                {description && <p class:list={[{ 'mt-0.5': itemTitle }, 'text-muted']} set:html={description} />}
                {callToAction && (
                  <div class:list={[{ 'mt-3': itemTitle || description }]}>
                    <Button variant="link" {...callToAction} />
                  </div>
                )}
              </div>
            </div>
          </div>
        ))}
      </div>
    )
  }
</WidgetWrapper>
